/********************************************************
 ********************** general *************************
 ********************************************************/

body {
	font-size:12px;
	font-family:Tahoma, Geneva, sans-serif;
	color: #555555;
	margin:0;
	padding:0;
}

/********************************************************
 ********************** header **************************
 ********************************************************/

header {
	width: 100%;
	height:100px; 
	padding: 35px 50px;
	box-sizing: border-box;
	background: #7400ac;
}

header h1 {
	margin: 0px;
    padding: 0px;
    line-height: 1;
    color: #ffffff;
}

/********************************************************
 *********************** buttons ************************
 ********************************************************/

a.btn {
	text-decoration: none;
    text-transform: uppercase;
    border-radius: 2px;
    background: #666666;
    color: #ffffff;
    font-size: 10px;
    display: inline-table;
    padding: 7px 15px;
}

a.btn.btn--add {
	background:#007bff;
	margin-bottom:10px;
}

a.btn.btn--delete {
	background:#d83531;
	padding: 5px 15px;
}
 
a.btn.btn--edit {
	background:#17a2b8;
	padding: 5px 15px;
}
 
/********************************************************
 ********************** sections ************************
 ********************************************************/

section {
	width: 100%;   
	box-sizing:border-box;
}

section.list {
	padding: 35px 50px;
}

section.list table {
	width:100%;
}

section.list table tr th {
	background: #cccccc;
	padding:5px 10px;
	text-align:left;
	font-weight: 500;
}

section.list table tr:nth-child(odd) td {
	background: #eeeeee;
}

section.list table tr td {
	padding:5px 10px;
	text-align:left;
	font-weight: 100;
}


/********************************************************
 ********************** footer **************************
 ********************************************************/

footer {
	width: 100%;
	height:40px;
	line-height:40px; 
	box-sizing:border-box;
	background: #5a585c;
	color: #ffffff;
	font-size:11px;
	position:fixed;
	bottom:0;
	text-align:center;
}

footer a {
	color: #ffffff;
	text-decoration:underline;
	text-decoration-style: dotted;
	font-size:11px;
	
}
